.features{
    margin: 30px 0;
}

.features-inside{
    display: flex;
    justify-content: space-between;
}

.feature{
    width: 270px;
}

.feature-title{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.feature-text{
    margin-bottom: 20px;
}

.feature-divider{
    width: 4px;
    height: 4px;
    background-color: #C7C8C8;
    border: none;
    box-shadow: 14px 0px #C7C8C8,
                28px 0px #C7C8C8;
}
.feature-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #FA625C;
}

.feature-link::before{
    content:"";
    display: inline-block;
    background-color: #FA625C;
    width: 30px;
    height: 2px;
    transform: translateY(-5px);
    margin-right: 12px;
    transition: width 1s;
}

.feature-link:hover::before{
    width: 50px;
}