@import 'header.css';
@import 'banner.css';
@import 'feature.css';
@import 'purchase.css';
@import 'running.css';


/* unversal style start  */


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
}

/* unversal style end  */

/* body section start */

body{
	font-family: 'Roboto',  Sans-serif;
	font-size: 16px;
}

/* body section end */

/* Visually hidden class start */
	.visually-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		overflow: hidden;
		border: 0;
		clip: rect(0 0 0 0)
  	}
  /* Visually hidden class start */

/* container section  */
	.container{
	width: 900px;
	margin: 0 auto;
	}
/* containe section */